.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px; 
    width: 100%;
    bottom: 0;
}
@media (max-width: 600px) {
    .footer {
        box-sizing: border-box;
        position: fixed;
        width: 100%;
        bottom: 0;
    }    
    p{
    width: 384px;
    height: 15px;
}
}