@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body{
    background: white;
    margin: 0px;
    padding: 0px;

}
@media(max-width:600px){
    body{
        background: white;
        margin: 0px;
        padding: 0px;
        padding-bottom: 100px;
    }
    
}